@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  height: 0;
}

#__nuxt,
#__layout,
body,
html {
  height: auto;
  min-height: 100vh !important;
  /* background-color: #28282a; #e18fa4 */
  /* background-color: rgba(118, 114, 110, 0.51); */
  /* background-color: #8f6cf6 ; */
  /* background-color: #fcaeae;  */
  /* background-color: #fc9bc9;  */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins-Medium', sans-serif;
  /* background-color: white ; */
  /* cursor: url('data:image/svg+xml;utf8,<svg height="5" width="5" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>') 15 15,alias; */
  /* rgb(115, 111, 107); */
  overflow: hidden;
  overflow-x: hidden;
  /* cursor: crosshair; */
}

body{
  /* height: 100vh;
  width:100vw;
  border-color: rgb(255 255 255);
  border-width: 4px; */
}

iframe{
        height: 100vh;
        width: 100vw;
      }
/* @media (min-width: 768px)
 {
  .md\:overflow-hidden {
    overflow: hidden;
    overflow: scroll !important;
}
    overflow: scroll !important;
    min-height: 100vh !important;
} */



a {
    fill: #fea7c8;
    /* fill: inherit; */
    text-decoration: inherit;
    transition: opacity 1s ease;
    text-decoration: underline;
}

a:hover {
    fill: #fea7c8;
    text-decoration: inherit;
    opacity: 0.6;
    transition: opacity 1s ease;
}

a:visited {
    fill: red;
    /* fill: inherit; */
    opacity: 0.6 !important;
    text-decoration: inherit;
}

.orb {
    justify-content: flex-start;
}

#sticky-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  z-index: 10000000;
  width: 15vw;
  text-align: center;
  background: #65a644; /* Change the background color to a green color */
  border-radius: 15px; /* Increase the border-radius for a more organic shape */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); /* Use clip-path to create a custom shape */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sticky-popup p {
  font-size: .8vw;
  padding: 10px; /* Add some padding to the paragraph */
  color: #fff; /* Change text color to white */
}

#close-sticky-popup{
  font-size: .8vw;
}

#close-sticky-popup {
  background: #fff; /* Change button background color */
  color: #65a644; /* Change button text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Add hover effect to the close button */
#close-sticky-popup:hover {
  background: #65a644;
  color: #fff;
}

.svgoverlay{
  scale: 2;
}

.thornedsvg{
  position: relative;
    left: -10vw;
}


.chestsvg{
 /* na */
}

.picklesvg{
  position: relative;
    left: 6vw;
}

.forestsvg{
  position: relative;
    top: 5vw;
}

.bloomsvg{
  position: relative;
    left: -10vw;
    top: -2vw;
}

.middleorbshome{
  display: flex;
    flex-direction: column;
    align-items: center;
}
    
    @media (max-width: 760px) {
     
      #sticky-popup p {
        font-size: 2.5vw;
        padding: 10px;
        color: #fff;
    }

    #close-sticky-popup{
      font-size: 2.5vw;
    }

      .thornedsvg {
    position: relative;
    left: -62vw;
      }

      .imgcenterbot{
        width: fit-content;
      }

      .forestsvg {
    position: relative;
    left: -16vw;
    top: 31vw;
}

.picklesvg {
    position: relative;
    left: 18vw;
    scale: 1.3;
}

.bloomsvg {
    position: relative;
    left: -45vw;
    top: -19vw;
    scale: 1.3;
}

.chestsvg{
 /* na */
 position: relative;
    left: -7vw;
    top: 3vw;
}

.withmbbot{
  width: auto !important;
}

.textmbsmp{
  font-size: 4vw;
}
      #sticky-popup {
  position: fixed;
  bottom: 0%; /* Center at the bottom */
  /* transform: translateY(50%); */
  left: 0%;
  /* transform: translateX(-50%); */
  padding: 10px;
  z-index: 10000000;
  width: 50vw;
  text-align: center;
  background: #65a644;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#sticky-popup {
    /* width: 90vw; */
  }

  .textmbsizep{
    font-size: 1rem;
  }

  .mbwidth{
    width: 100vw
  }

  .overlay{
    overflow: scroll;
    overflow-x: hidden;
  }

  .padovermb{
    padding-top: 100vh;
  }

  .subtextmb{
    justify-content: center;
  }
  /* #sticky-popupcont{
    display:flex;
  } */

      .logowidth {
        width: 40vw;
    }
    .svgheadmb{
      /* scale: 2; */
    }

    .mbsvg{
      width: 140vw !important;
      max-width: 140vw !important;
    }

    .minheightmb{
      min-height: 24vh !important;
    }

    .image-container {
    height: auto !important;
    min-height: 2vh !important; 
}

.image-container {
      /* height: 2vh !important;
      min-height: 2vh !important; */
            }

.image-container img {
    height: 9vw !important;
}

.foottextmb{
  font-size: .7rem;
}
    /* header {
    position: fixed;
    width: 100vw;
    height: 12vh;
    overflow: hidden;
    background-color: #94c298;
} */
.instrcuct {
    padding-top: 14vh;
}



.logombhead{
    position: relative;
    top: -15vh;
}

.logombheadimg{
  position: absolute;
    top: 8vh;
    left: 41vw;
    width: 46vw;
}

.padovermbless{
  padding-top: 22vh;
}

.padovermblessh{
  padding-top: 64vh;
}
    }
