@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  height: 0;
}

#__nuxt,
#__layout,
body,
html {
  height: auto;
  min-height: 100vh !important;
  /* background-color: #28282a; #e18fa4 */
  /* background-color: rgba(118, 114, 110, 0.51); */
  /* background-color: #8f6cf6 ; */
  /* background-color: #fcaeae;  */
  /* background-color: #fc9bc9;  */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins-Medium', sans-serif;
  /* background-color: white ; */
  /* cursor: url('data:image/svg+xml;utf8,<svg height="5" width="5" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>') 15 15,alias; */
  /* rgb(115, 111, 107); */
  overflow: hidden;
  overflow-x: hidden;
  /* cursor: crosshair; */
}

body{
  /* height: 100vh;
  width:100vw;
  border-color: rgb(255 255 255);
  border-width: 4px; */
}

iframe{
        height: 100vh;
        width: 100vw;
      }
/* @media (min-width: 768px)
 {
  .md\:overflow-hidden {
    overflow: hidden;
    overflow: scroll !important;
}
    overflow: scroll !important;
    min-height: 100vh !important;
} */



a {
    fill: #fea7c8;
    /* fill: inherit; */
    text-decoration: inherit;
    transition: opacity 1s ease;
    text-decoration: underline;
}

a:hover {
    fill: #fea7c8;
    text-decoration: inherit;
    opacity: 0.6;
    transition: opacity 1s ease;
}

a:visited {
    fill: red;
    /* fill: inherit; */
    opacity: 0.6 !important;
    text-decoration: inherit;
}




    
    @media (max-width: 760px) {
      .logowidth {
        width: 40vw;
    }
    .svgheadmb{
      /* scale: 2; */
    }

    .mbsvg{
      width: 140vw !important;
      max-width: 140vw !important;
    }

    .minheightmb{
      min-height: 15vh !important;
    }

    .image-container {
    height: 6vh !important;
}

.image-container img {
    height: 9vw !important;
}

.foottextmb{
  font-size: .7rem;
}
    /* header {
    position: fixed;
    width: 100vw;
    height: 12vh;
    overflow: hidden;
    background-color: #94c298;
} */
.instrcuct {
    padding-top: 7vh;
}
    }
